<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="world"  default="milvus_office"/>  
  <arg name="world_path" default="$(find mrp2_gazebo)/worlds/"/>
  <arg name="robot"  default="full"/>          
  <arg name="sensor" default=""/>              
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find mrp2_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_path)$(arg world).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- spawn robot in simulation -->
  <include file="$(find mrp2_gazebo)/launch/include/mrp2.launch">
    <arg name="robot"  value="$(arg robot)"/>
    <arg name="gzpose" value="$(arg gzpose)"/>
  </include>

  <!-- Differential controller and basic localization -->
  <include file="$(find mrp2_control)/launch/controls.launch" />

  <rosparam command="load" file="$(find mrp2_gazebo)/config/controls.yaml" />

  <!-- Teleoperation via joystick and rviz interactive markers -->
  <include file="$(find mrp2_control)/launch/teleop.launch" />

  <!-- Diagnostic Analyzer -->
  <node pkg="mrp2_analyzer" type="mrp2_diag_publisher.py" name="mrp2_diag_publisher" />

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find mrp2_analyzer)/config/mrp2_analyzer_load.yaml" />
  </node>
  
</launch>
