Source: ros-indigo-mrp2-hardware-gazebo
Section: misc
Priority: extra
Maintainer: Akif Hacinecipoglu <akifhno@gmail.com>
Build-Depends: debhelper (>= 9.0.0), gazebo2, ros-indigo-angles, ros-indigo-catkin, ros-indigo-control-toolbox, ros-indigo-gazebo-ros-control, ros-indigo-hardware-interface, ros-indigo-joint-limits-interface
Homepage: http://wiki.ros.org/Robots/MRP2
Standards-Version: 3.9.2

Package: ros-indigo-mrp2-hardware-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gazebo2, ros-indigo-control-toolbox, ros-indigo-gazebo-ros-control, ros-indigo-hardware-interface, ros-indigo-joint-limits-interface
Description: Gazebo plugin of MRP2 robot hardware used in simulation.
