<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="world"  default="milvus_office"/>
  <arg name="world_path" default="$(find mrp2_gazebo)/worlds/"/>
  <arg name="robot"  default="full"/>
  <arg name="sensor" default=""/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find mrp2_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_path)$(arg world).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- spawn robot in simulation -->
  <include file="$(find mrp2_gazebo)/launch/include/mrp2.launch">
    <arg name="robot"  value="$(arg robot)"/>
    <arg name="gzpose" value="$(arg gzpose)"/>
  </include>

  <rosparam command="load" file="$(find mrp2_gazebo)/config/controls.yaml" />

  <!-- Teleoperation via joystick and rviz interactive markers -->
  <include file="$(find mrp2_teleop)/launch/teleop.launch" />

  <!-- Launch cartographer with move base -->
  <!--include file="$(find mrp2_slam)/launch/mrp2_cartographer.launch" /-->


</launch>
